langchain==0.0.327
openai==0.28.1
slack-bolt==1.18.0
python-dotenv==1.00
pymupdf==1.23.6
ghostscript==0.7
camelot-py==0.11.0
dataframe-image==0.2.2
opencv-python==4.8.1.78
tiktoken==0.5.1
logzero==1.7.0
